{% extends "baseTemplate.html" %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}

    <style>

        .pageHeader {
            text-align: center;
            margin-bottom: 20px;
        }

        .styled-hr {
            border: 1px solid white; /* Remove a borda padrão */
            width: 100%; /* Define a largura da linha */
            height: 2px; /* Define a altura da linha */
            background-color: #ffffff; /* Cor da linha (usando a cor do botão 'danger' para manter a consistência) */
            z-index: 100;
            margin-bottom: 40px;
        }

        [data-bs-theme="light"] .styled-hr {
            border: 1px solid rgb(0, 0, 0)
        }

        .curriculumFileDiv {
            width: 100%;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            margin-bottom: 50px;
        }

        .chooseFileBtn {
            font-size: 16px;
            padding: 3px 10px;
            margin-bottom: 15px;
        }

        .fileNameInfo {
            text-align: center;
        }

        .responsiveTextarea {
            width: 100%; /* Preenche 100% da largura do contêiner */
            min-height: 250px; /* Altura mínima para telas pequenas */
            max-height: 50vh; /* Altura máxima limitada a 50% da altura da tela */
            padding: 10px;
            font-size: 16px;
            box-sizing: border-box; /* Garante que padding seja considerado na largura */
            resize: vertical; /* Permite o redimensionamento apenas na vertical */
        }

        .jobDescriptionDiv {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-bottom: 30px;
        }

        .jobDescriptionTitle {
            width: 100%;
            text-align: left;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .analysisBtn {
            margin-left: auto;
        }

        

    </style>

    <div class="pageHeader">
        <h1>Análise de IA</h1>
        <span>
            Selecione seu currículo, cole a descrição da vaga e receba a análise do quão compatível você é com a vaga.
        </span>
    </div>
    
    <hr class="styled-hr">

    <form id="form" action="/aiAnalysis/checkSession" method="POST" enctype="multipart/form-data">
        <input type="file" id="curriculumFile" name="curriculumFile" accept=".pdf" style="display: none;" required>
        <input type="text" id="jobDescription" name="jobDescription" style="display: none;">
    </form>

    <div class="curriculumFileDiv">
        <button id="chooseFileBtn" class="btn btn-danger chooseFileBtn">Selecionar Currículo</button>
        <span id="fileNameInfo" class="fileNameInfo">Nenhum arquivo selecionado</span>
        <span id="fileName" class="fileName" style="display: none;"></span>
    </div>
    

    <div class="jobDescriptionDiv">
        <span class="jobDescriptionTitle">Descrição da Vaga:</span>
        <textarea class="responsiveTextarea"></textarea>
    </div>

    
    <button id="submitBtn" class="analysisBtn btn btn-danger">Analisar</button>
    

    <script>

        const chooseFileBtn = document.getElementById('chooseFileBtn');
        const curriculumFile = document.getElementById('curriculumFile');
        const fileNameInfo = document.getElementById('fileNameInfo');
        const fileName = document.getElementById('fileName');
        const jobDescription = document.getElementById('jobDescription');
        const submitBtn = document.getElementById('submitBtn');
        const form = document.getElementById('form');

        window.addEventListener('pageshow', (event) => {
            form.reset();
        });

        chooseFileBtn.addEventListener('click', () => {
            curriculumFile.click();
        });

        curriculumFile.addEventListener('change', () => {
            const file = curriculumFile.files[0];
            updateUI(file.name); 
        });

        function updateUI(selectedFileName) {
            fileNameInfo.innerHTML = '<b>Arquivo Selecionado:</b> ';
            fileName.innerHTML = selectedFileName;
            fileName.innerHTML = selectedFileName;
            fileName.style.display = 'block';
            chooseFileBtn.innerText = 'Selecionar outro Arquivo';
        }

        submitBtn.addEventListener('click', (event) => {
            event.preventDefault();

            jobDescription.value = document.querySelector('.responsiveTextarea').value;

            if(!curriculumFile.files[0]) {
                alert('Selecione um arquivo de currículo');
                return;
            }

            if(!jobDescription.value) {
                alert('Insira a descrição da vaga');
                return;
            }

            form.submit();
        });
        

    </script>
{% endblock %}